
    <div>
    <a href="#" class="logo">FlexFit</a>
    <ul class="navigation">
    <li><a class="nav-liknk active" aria-current="page" routerLink="/home">home </a></li>
    <li><a class="nav-liknk active" aria-current="page" routerLink="/workout">Workouts</a></li>
    <li><a class="nav-liknk active" aria-current="page" routerLink="/diet">diet</a></li> 
    <li><a class="nav-liknk active" aria-current="page" routerLink="/login">login </a></li>
    <li><a class="nav-liknk active" aria-current="page" routerLink="/admin">admin </a></li>
    </ul>
   
    </div>

