<table border="1">
    <tr>
        <th>meals</th>
        <th>food</th>
        <th>Nutritional value</th>
    </tr>
    <tr>
        <th rowspan="3">breakfast</th>
        <td>cup orange juice</td>
       <td>28 Cal</td>
    </tr>
    <tr>
      <td>4 egg whites and 1 egg yolk</td>
      <td>140 Calories + 22.5 Protein</td>
    </tr>
    <tr>
      <td>90 g wholemeal bread</td>
      <td>221 Cal </td>
    </tr>
    <tr>
      <th rowspan="2">After breakfast</th>
        <td>Whey protéine izo w consontrate with water</td>
     <td>105 Calories + 24 g Protein
      (For a consontrate it has 115 calories)</td>
  </tr>
  <tr>
    <td>Salad 100 g tomatoes, 100 broccoli and 50 onions</td>
    <td>85 Calories + 5 g Protein</td>
  </tr>
  <tr>
      <th rowspan="3">lunch</th>
      <td>Tuna Box</td>
     <td>118 Calories + 25 g Protein</td>
  </tr>
  <tr>
    <td>200 grams of wholemeal bread</td>
    <td>492 Cal + 18 g Protein</td>
  </tr>
  <tr>
    <td>Multivitamin Tablet</td>
    <td>0 calories 0 Protein </td>
  </tr>
  <tr>
      <th rowspan="3">Meal before
          Exercise</th>
      <td>Scoop pre workout</td>
     <td>5 calories</td>
  </tr>
  <tr>
    <td>A cup of coffee</td>
    <td>5 calories</td>
  </tr>
  <tr>
    <td>banana</td>
    <td>88 Calories + 1 g Protein </td>
  </tr><tr>
      <th rowspan="3">Dinner</th>
      <td>2 plates of vegetable soup</td>
     <td>60 Calories</td>
  </tr>
  <tr>
    <td>Salad 100 g tomatoes, 100 broccoli and 50 onions</td>
    <td>85 Calories + 5Protein</td>
  </tr>
  <tr>
    <td>Whey protéine</td>
    <td>105 Cal + 24 g Protein</td>
  </tr>
  
  </table>
