<table border="1">
    <tr>
        <th>Meals</th>
        <th>Food</th>
        <th>Nutritional Value</th>
    </tr>
    <tr>
        <th rowspan="3">Breakfast</th>
        <td>Cup of orange juice</td>
        <td>28 Cal</td>
    </tr>
    <tr>
        <td>8 egg whites and 3 egg yolks</td>
        <td>400 Calories + 65 Protein</td>
    </tr>
    <tr>
        <td>150g wholemeal bread</td>
        <td>368 Cal</td>
    </tr>
    <tr>
        <th rowspan="2">After breakfast</th>
        <td>Whey protein isolate concentrate with water</td>
        <td>175 Calories + 40g Protein</td>
    </tr>
    <tr>
        <td>Salad: 200g tomatoes, 200g broccoli, and 100g onions</td>
        <td>160 Calories + 9g Protein</td>
    </tr>
    <tr>
        <th rowspan="3">Lunch</th>
        <td>Tuna Box</td>
        <td>236 Calories + 50g Protein</td>
    </tr>
    <tr>
        <td>300g wholemeal bread</td>
        <td>738 Cal + 27g Protein</td>
    </tr>
    <tr>
        <td>Multivitamin Tablet</td>
        <td>0 calories 0 Protein</td>
    </tr>
    <tr>
        <th rowspan="3">Meal before Exercise</th>
        <td>Scoop pre-workout</td>
        <td>5 calories</td>
    </tr>
    <tr>
        <td>A cup of coffee</td>
        <td>5 calories</td>
    </tr>
    <tr>
        <td>Banana</td>
        <td>88 Calories + 1g Protein</td>
    </tr>
    <tr>
        <th rowspan="3">Dinner</th>
        <td>4 plates of vegetable soup</td>
        <td>120 Calories</td>
    </tr>
    <tr>
        <td>Salad: 200g tomatoes, 200g broccoli, and 100g onions</td>
        <td>160 Calories + 9g Protein</td>
    </tr>
    <tr>
        <td>Whey protein</td>
        <td>175 Cal + 40g Protein</td>
    </tr>
</table>
