<div class="container">
  <h1> Diet basics </h1>

  <p>Food choices in the slimming diet depend on the number of calories that should be consumed per day,<br>
      when following a low-calorie drying regimen, you must maintain 30% to 40% of protein,<br>
      with about 30% to 50% of calories from carbohydrates, along with 20% of healthy fats.</p>

  <h2>Allowed foods:</h2>

  <p>Meat, fish, eggs, vegetables, fruits and nuts.</p>

  <h2>Not allowed foods:</h2>

  <p>Sugar and carbohydrate sources such as rice, pasta,
       wheat (white bread), seed oils, trans fats, 
       fast food, <br> and soft drinks.</p>
      
       <ul>
          <li>The goal of the table: to lose fat without losing muscle</li>
          <li>Number of meals: 5 + pre-workout meal</li>
          <li>Number of calories: 2112</li>
      </ul>     
      <br>
      
        <br>
        <br>
</div>
