<div class="l1">
    <h2>squat classique</h2>
    <img src="../../assets/legs/squat classique.gif" alt="Clickable Image" width="30%">
</div>

<div class="l2">
    <h2>Leg Extension</h2>
    <img src="../../assets/legs/Leg Extension.gif" alt="Clickable Image" width="30%">
</div>

<div class="l3">
    <h2>Presse à Cuisses (Leg Press)</h2>
    <img src="../../assets/legs/Presse à Cuisses (Leg Press).gif" alt="Clickable Image" width="30%">
</div>

<div class="l4">
    <h2>Hip Thrust</h2>
    <img src="../../assets/legs/Hip Thrust.gif" alt="Clickable Image" width="30%">
</div>

<div class="l5">
    <h2>leg Curl</h2>
    <img src="../../assets/legs/Leg Curl.gif" alt="Clickable Image" width="30%">
</div>

<div class="l6">
    <h2>extension-mollets-smith-machine</h2>
    <img src="../../assets/legs/extension-mollets-smith-machine.gif" alt="Clickable Image" width="30%">
</div>
