.l1 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.l2 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.l3 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.l4 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.l5 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.l6 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}

h2{
    color: blanchedalmond;
}