.e1 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.e2 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.e3 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.e4 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
h2{
    color: blanchedalmond;
}