<div class="d1">
    <h2>deadlift</h2>
    <img src="../../assets/dorseaux/deadlift.gif" alt="Clickable Image" width="35%">
</div>

<div class="d2">
    <h2>Dumbbell single arm row</h2>
    <img src="../../assets/dorseaux/dumbbell-single-arm-row.gif" alt="Clickable Image" width="35%">
</div>

<div class="d3">
    <h2>Pull up </h2>
    <img src="../../assets/dorseaux/how-to-do-a-pull-up.gif" alt="Clickable Image" width="35%">
</div>

<div class="d4">
    <h2>lat pull down</h2>
    <img src="../../assets/dorseaux/latpull.gif" alt="Clickable Image" width="35%">
</div>
