.d1 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.d2 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.d3 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.d4 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
h2{
    color: blanchedalmond;
}