
<table border="1">
    <tr>
        <th>Day</th>
        <th>Muscle Group</th>
        <th>Exercise</th>
        <th>Sets x Reps</th>
    </tr>
    <tr>
        <th rowspan="3">Day 1: Push</th>
        <td rowspan="3">Chest, Shoulders, Triceps</td>
        <td>Bench Press</td>
        <td>3 x 8-10</td>
    </tr>
    <tr>
        <td>Overhead Press</td>
        <td>3 x 8-10</td>
    </tr>
    <tr>
        <td>Tricep Dips</td>
        <td>3 x 8-10</td>
    </tr>
    <tr>
        <th>Day 2</th>
        <td>Rest or Active Recovery</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th rowspan="3">Day 3: Pull</th>
        <td rowspan="3">Back, Biceps</td>
        <td>Deadlifts</td>
        <td>3 x 6-8</td>
    </tr>
    <tr>
        <td>Pull-ups</td>
        <td>3 x 8-10</td>
    </tr>
    <tr>
        <td>Barbell Rows</td>
        <td>3 x 8-10</td>
    </tr>
    <tr>
        <th>Day 4</th>
        <td>Rest or Active Recovery</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th rowspan="3">Day 5: Legs</th>
        <td rowspan="3">Quads, Hamstrings, Calves</td>
        <td>Squats</td>
        <td>3 x 8-10</td>
    </tr>
    <tr>
        <td>Leg Press</td>
        <td>3 x 10-12</td>
    </tr>
    <tr>
        <td>Lunges</td>
        <td>3 x 10-12 (each leg)</td>
    </tr>
    <tr>
        <th>Day 6</th>
        <td>Rest or Active Recovery</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Day 7</th>
        <td>Rest or Active Recovery</td>
        <td></td>
        <td></td>
    </tr>
    
</table>

