<div class="a1">
    <h2>Crunch Abdos</h2>
    <img src="../../assets/abdeaux/Crunch Abdos.gif" alt="Clickable Image" width="35%">
</div>

<div class="a2">
    <h2>LE RELEVÉ DE JAMBES SUSPENDU</h2>
    <img src="../../assets/abdeaux/LE RELEVÉ DE JAMBES SUSPENDU.gif" alt="Clickable Image" width="35%">
</div>

<div class="a3">
    <h2>LES CISEAUX</h2>
    <img src="../../assets/abdeaux/LES CISEAUX.gif" alt="Clickable Image" width="35%">
</div>

<div class="a4">
    <h2>Planches</h2>
    <img src="../../assets/abdeaux/Planches.png" alt="Clickable Image" width="35%">
</div>
