<div class="p1">
    <h2>Développé couché</h2>
    <img src="../../assets/poitrine/Développé couché.gif" alt="Clickable Image" width="30%">
</div>

<div class="p2">
    <h2>Développé incliné</h2>
    <img src="../../assets/poitrine/Développé incliné.gif" alt="Clickable Image" width="30%">
</div>

<div class="p3">
    <h2>Pompe</h2>
    <img src="../../assets/poitrine/pompe.gif" alt="Clickable Image" width="30%">
</div>

<div class="p4">
    <h2>Écartés décliné</h2>
    <img src="../../assets/poitrine/Écartés décliné.gif" alt="Clickable Image" width="30%">
</div>