<table border="1">
    <tr>
        <th>Day</th>
        <th>Muscle Group</th>
        <th>Exercise</th>
        <th>Sets x Reps</th>
    </tr>
    <tr>
        <th rowspan="7">Day 1</th>
        <td rowspan="7">Back & Biceps</td>
        <td>Pull-ups</td>
        <td>4 x 8-10</td>
    </tr>
    <tr>
        <td>Barbell Rows</td>
        <td>3 x 8-10</td>
    </tr>
    <tr>
        <td>Dumbbell Rows</td>
        <td>3 x 10-12 (each arm)</td>
    </tr>
    <tr>
        <td>Lat Pulldowns</td>
        <td>3 x 10-12</td>
    </tr>
    <tr>
        <td>Seated Cable Rows</td>
        <td>3 x 10-12</td>
    </tr>
    <tr>
        <td>Hammer Curls</td>
        <td>3 x 10-12</td>
    </tr>
    <tr>
        <td>Preacher Curls</td>
        <td>3 x 10-12</td>
    </tr>
    <tr>
        <th>Day 2</th>
        <td>Rest or Active Recovery</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th rowspan="7">Day 3</th>
        <td rowspan="7">Back & Biceps</td>
        <td>Deadlifts</td>
        <td>4 x 6-8</td>
    </tr>
    <tr>
        <td>Chin-ups</td>
        <td>3 x 8-10</td>
    </tr>
    <tr>
        <td>T-bar Rows</td>
        <td>3 x 8-10</td>
    </tr>
    <tr>
        <td>Single-arm Dumbbell Rows</td>
        <td>3 x 10-12 (each arm)</td>
    </tr>
    <tr>
        <td>Face Pulls</td>
        <td>3 x 12-15</td>
    </tr>
    <tr>
        <td>Incline Dumbbell Curls</td>
        <td>3 x 10-12</td>
    </tr>
    <tr>
        <td>Concentration Curls</td>
        <td>3 x 10-12</td>
    </tr>
    <tr>
        <th>Day 4</th>
        <td>Rest or Active Recovery</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Day 5</th>
        <td>Rest or Active Recovery</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Day 6</th>
        <td>Rest or Active Recovery</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Day 7</th>
        <td>Rest or Active Recovery</td>
        <td></td>
        <td></td>
    </tr>
</table>