
<a routerLink="/biceps">
    <div class="img1">
        <img src="assets/biceps.jpg" alt="Clickable Image" width="40%">
    </div>
</a>

<a routerLink="/triceps">
    <div class="img2">
        <img src="assets/triceps.jpg" alt="Clickable Image" width="40%">
    </div>
</a>

<a routerLink="/pectoraux">
    <div class="img3">
        <img src="../../assets/pectoraux.jpg" alt="Clickable Image" width="40%">
       </div>
</a>

<a routerLink="/epaule">
    <div class="img4">
        <img src="assets/epaules.jpg" alt="Clickable Image" width="40%">
    </div>
</a>

<a routerLink="/avant">
    <div class="img5">
        <img src="assets/avant-bras.jpg" alt="Clickable Image" width="40%">
    </div>
</a>

<a routerLink="/abdos">
    <div class="img6">
        <img src="assets/abdos.jpg" alt="Clickable Image" width="40%">
    </div>
</a>

<a routerLink="/jambes">
    <div class="img7">
        <img src="assets/jambes.jpg" alt="Clickable Image" width="40%">
    </div>
</a>

<a routerLink="/dorseaux">
    <div class="img8">
        <img src="assets/dors.jpg" alt="Clickable Image" width="40%">
    </div>
</a>



