<div class="content">
    <div class="contentBx">
        <h2> Build Perfect Body</h2>
          <p>With Clean Mind, the pain itself is very important, the weight gain will be achieved, but it will happen at the same time as some great work and pain. For to come to the smallest detail, no one should practice any kind of work unless he derives some benefit from it.
          </p>
          <a class="nav-liknk active" aria-current="page" routerLink="/login">Join now </a>

        </div>
    </div>
