<div class="av1">
    <h2>barre droite arrière</h2>
    <img src="../../assets/avant/Avant-bras barre droite arrière.gif" alt="Clickable Image" width="30%">
</div>

<div class="av2">
    <h2>flexion des poignets supination</h2>
    <img src="../../assets/avant/Avant-bras flexion des poignets supination.gif" alt="Clickable Image" width="30%">
</div>

<div class="av3">
    <h2>flexion des poignets</h2>
    <img src="../../assets/avant/Avant-bras flexion des poignets.gif" alt="Clickable Image" width="30%">
</div>

