<table border="1">
    <tr>
        <th>Meals</th>
        <th>Food</th>
        <th>Nutritional Value</th>
    </tr>
    <tr>
        <th rowspan="3">Breakfast</th>
        <td>Cup of orange juice</td>
        <td>28 Cal</td>
    </tr>
    <tr>
        <td>6 egg whites and 2 egg yolks</td>
        <td>280 Calories + 45 Protein</td>
    </tr>
    <tr>
        <td>120g wholemeal bread</td>
        <td>295 Cal</td>
    </tr>
    <tr>
        <th rowspan="2">After breakfast</th>
        <td>Whey protein isolate concentrate with water</td>
        <td>140 Calories + 32g Protein</td>
    </tr>
    <tr>
        <td>Salad: 150g tomatoes, 150g broccoli, and 75g onions</td>
        <td>120 Calories + 7g Protein</td>
    </tr>
    <tr>
        <th rowspan="3">Lunch</th>
        <td>Tuna Box</td>
        <td>177 Calories + 37g Protein</td>
    </tr>
    <tr>
        <td>250g wholemeal bread</td>
        <td>615 Cal + 22g Protein</td>
    </tr>
    <tr>
        <td>Multivitamin Tablet</td>
        <td>0 calories 0 Protein</td>
    </tr>
    <tr>
        <th rowspan="3">Meal before Exercise</th>
        <td>Scoop pre-workout</td>
        <td>5 calories</td>
    </tr>
    <tr>
        <td>A cup of coffee</td>
        <td>5 calories</td>
    </tr>
    <tr>
        <td>Banana</td>
        <td>88 Calories + 1g Protein</td>
    </tr>
    <tr>
        <th rowspan="3">Dinner</th>
        <td>3 plates of vegetable soup</td>
        <td>90 Calories</td>
    </tr>
    <tr>
        <td>Salad: 150g tomatoes, 150g broccoli, and 75g onions</td>
        <td>120 Calories + 7g Protein</td>
    </tr>
    <tr>
        <td>Whey protein</td>
        <td>140 Cal + 32g Protein</td>
    </tr>
</table>
