.b1 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.b2 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.b3 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.b4 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
h2{
    color: blanchedalmond;
}