<div class="b1">
    <h2>Concentration Curl</h2>
    <img src="../../assets/biceps/Incline Bicep Curl.gif" alt="Clickable Image" width="35%">
</div>

<div class="b2">
    <h2>Incline Bicep Curl</h2>
    <img src="../../assets/biceps/Barbell Bicep Curl.gif" alt="Clickable Image" width="35%">
</div>

<div class="b3">
    <h2>Prone Dumbbell Spider Curl</h2>
    <img src="../../assets/biceps/Reverse-Grip EZ Bar Curl.gif" alt="Clickable Image" width="35%">
</div>

<div class="b4">
    <h2>Dumbbell Curl</h2>
    <img src="../../assets/biceps/Concentration Curl.gif" alt="Clickable Image" width="35%">
</div>
