.t1 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.t2 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.t3 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.t4 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
.t5 {
    position: relative;
    left: 70px; /* Ajustez cette valeur selon vos besoins */
    top: 50px;
    margin-bottom: 20px;
}
h2{
    color: blanchedalmond;
}