<div class="t1">
    <h2>Lying one-arm dumbbell triceps extension</h2>
    <img src="../../assets/triceps/Lying one-arm dumbbell triceps extension.gif" alt="Clickable Image" width="30%">
</div>

<div class="t2">
    <h2>Overhead EZ bar triceps extension</h2>
    <img src="../../assets/triceps/Overhead EZ bar triceps extension.gif" alt="Clickable Image" width="30%">
</div>

<div class="t3">
    <h2>Rope Tricep Pushdown </h2>
    <img src="../../assets/triceps/Rope Tricep Pushdown.gif" alt="Clickable Image" width="30%">
</div>

<div class="t4">
    <h2>Triceps dip</h2>
    <img src="../../assets/triceps/Triceps dip.gif" alt="Clickable Image" width="30%">
</div>
<div class="t5">
    <h2>Triceps Kickback </h2>
    <img src="../../assets/epau/Triceps Kickback.gif" alt="Clickable Image" width="30%">
</div>
